{% extends 'base.html' %}
{% block content %}
<h2 class="text-center pt-2">Login</h2>
  <form class="form-inline d-flex justify-content-center" method="post">
    <div class="form-group mx-sm-3 mb-2 p-2">
      <label class="p-2 m-2" for="username">Username:</label>
      <input name="username" class="form-control p-2 m-2" id="username" required>
      <input type="submit" class="btn btn-primary p-2 m-2" value="Log In">
    </div>
  </form>
  <div class="text-center">
    <a href="{{url_for('register')}}?{{request.query_string.decode()}}" class="text-center">Register new user.</a>
  </div>
{% endblock %}
