{% extends 'base.html' %}
{% block content %}
  <form action="{{url_for('poll.create_poll')}}" method="post" enctype="multipart/form-data">
    <label for=title>Title: </label>
    <input type="text" name="title"/>
    <label for=voting_start>Voting start: </label>
    <input type="datetime-local" name="voting_start" value={{now}} />
    <label for=voting_end>Voting ends: </label>
    <input type="datetime-local" name="voting_end" value={{now}} />
    <!-- <label for=no_alternatives>Number of alternatives: </label>
    <input type="number" name="no_alternatives" min="0" max="10" /> -->
    <label for=type>Type: </label>
    <select name="type" id="type_select">
        <option value="book">Book</option>
        <option value="movie">Movie</option>
    </select>
    <input type="submit" value="Create" />
  </form>
{% endblock %}
