{% extends 'base.html' %}
{% block content %}
<h1 class="text-center  mt-2 pt-2">Create Poll</h1>
  <form class="form-inline d-flex justify-content-center" action="{{url_for('poll.create_poll')}}" method="post" enctype="multipart/form-data">
    <div class="form-group mx-sm-3 mb-2 p-2">
      <label class="p-2 m-2" for=title>Title: </label>
      <input class="form-control p-2 m-2" type="text" name="title"/>
      <label class="p-2 m-2" for=type>Type: </label>
      <select class="form-control p-2 m-2" name="type" id="type_select">
        <option value="book">Book</option>
        <option value="movie">Movie</option>
      </select>
      <input class="form-control p-2 m-2" type="submit" value="Create" />
    </div>
  </form>
{% endblock %}
