{% extends 'base.html' %}
{% block header %}
<h2>Nominate for poll '{{poll.title}}'</h2>
{% endblock %}
{% block content %}
<a href="{{url_for('poll.list_polls')}}">Polls</a>

<form action="{{url_for('nominate.nominate_alternative', poll_id=poll.id)}}" method="post">
    <div>
        <label for="Title">Title:</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="link">Link:</label>
        <input type="url" id="link" name="link">
    </div>
    <div class="button">
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}
