<a href="{{url_for('poll.create_poll')}}">Create poll</a>


<h2>Active polls</h2>

<table>
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Creator
            </th>
        </tr>
    </thead>

    <tbody>
    {% for poll in polls %}
        <tr>
            <td>
                <a href="{{url_for('poll.show_polls', poll_id=poll.id)}}">{{poll.title}}</a>
            </td>
            <td>
                {{poll.creator.username}}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
