{% extends 'base.html' %}
{% block header %}
<h1>Polls</h1
{% endblock %}


{% block content %}

<a class="btn btn-primary m-2 p-2 d-flex justify-content-center w-25 mx-auto" href="{{url_for('poll.create_poll')}}">Create poll</a>

{% if created_polls %}
<h2 class="text-center pt-2 mt-2">Polls created by you</h2>

<table class="table table-bordered table-striped table-sm p-5 m-5 w-75 mx-auto">
    <thead>
        <tr>
            <th class="text-left" style="width: 25%">
                Title
            </th>
            <th class="text-left" style="width: 25%">
                Created at
            </th>
            <th class="text-left" style="width: 25%">
                Voting start
            </th>
            <th class="text-left" style="width: 25%">
                Voting end
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for poll in created_polls %}
            <tr>
                <td>
                    <a href="{{url_for('poll.show_poll', poll_id=poll.id)}}">{{poll.title}}</a>
                </td>
                <td>
                    {{poll.created_at.strftime('%Y-%m-%d')}}
                </td>
                <td>
                    {% if poll.voting_start is none %}
                    Voting has not started.
                    {% else %}
                    {{poll.voting_start.strftime('%Y-%m-%d')}}
                    {% endif %}
                </td>
                <td>
                  {% if poll.voting_end is none %}
                  {% else %}
                  {{poll.voting_end.strftime('%Y-%m-%d')}}
                  {% endif %}
                </td>
                <td>
                <form action="{{url_for('poll.list_polls')}}" method="post">
                    <input name="poll" value="{{poll.id}}" type="hidden" />
                    <input name="delete" value="true" type="hidden" />
                    <input type="submit" value="Delete">
                </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>
{% endif %}

{% if nominated_polls %}
    <h2 class="text-center">Polls where you have nominated</h2>

<table class="table table-bordered table-striped table-sm p-5 m-5 w-75 mx-auto">
    <thead>
        <tr>
            <th class="text-left" style="width: 25%">
                Title
            </th>
            <th class="text-left" style="width: 25%">
                Created at
            </th>
            <th class="text-left" style="width: 25%">
                Voting start
            </th>
            <th class="text-left" style="width: 25%">
                Voting end
            </th>
        </tr>
    </thead>

    <tbody>
        {% for poll in nominated_polls %}
            <tr>
                <td>
                    <a href="{{url_for('poll.show_poll', poll_id=poll.id)}}">{{poll.title}}</a>
                </td>
                <td>
                    {{poll.created_at.strftime('%Y-%m-%d')}}
                </td>
                <td>
                  {% if poll.voting_start is none %}
                  Voting has not started.
                  {% else %}
                  {{poll.voting_start.strftime('%Y-%m-%d')}}
                  {% endif %}
                </td>
                <td>
                  {% if poll.voting_end is none %}
                  {% else %}
                  {{poll.voting_end.strftime('%Y-%m-%d')}}
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>
{% endif %}


{% if voted_polls %}
    <h2 class="text-center pt-5 mt-5">Polls where you have voted</h2>

<table class="table table-bordered table-striped table-sm w-75 mx-auto">
    <thead>
        <tr>
            <th class="text-left" style="width: 25%">
                Title
            </th>
            <th class="text-left" style="width: 25%">
                Created at
            </th>
            <th class="text-left" style="width: 25%">
                Voting start
            </th>
            <th class="text-left" style="width: 25%">
                Voting end
            </th>
        </tr>
    </thead>

    <tbody>
        {% for poll in voted_polls %}
            <tr>
                <td>
                    <a href="{{url_for('poll.show_poll', poll_id=poll.id)}}">{{poll.title}}</a>
                </td>
                <td>
                    {{poll.created_at.strftime('%Y-%m-%d')}}
                </td>
                <td>
                  {% if poll.voting_start is none %}
                  Voting has not started.
                  {% else %}
                  {{poll.voting_start.strftime('%Y-%m-%d')}}
                  {% endif %}
                </td>
                <td>
                  {% if poll.voting_end is none %}
                  {% else %}
                  {{poll.voting_end.strftime('%Y-%m-%d')}}
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>
{% endif %}
{% endblock %}
