{% extends 'base.html' %}
{% block header %}
<h2>Poll: {{poll.title}}</h2>
{% endblock %}
{% block content %}
<div>
Invite people by sharing the poll url: <a href="{{poll_url}}">{{poll_url}}</a>
</div>
<div>
<a href="{{url_for('nominate.nominate_alternative', poll_id=poll.id)}}">Nominate alternative</a>
</div>

<h3>Nominations</h3>

<table>
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Link
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        {% for alternative in poll.alternatives %}
            <tr>
                <td>
                    {{ alternative.title }}
                </td>
                <td>
                    {{ alternative.link }}
                </td>
                <td>
                    {% if g.user == alternative.creator %}
                        <form action="{{url_for('nominate.nominate_alternative', poll_id=poll.id)}}" method="post">
                            <input name="alternative" value="{{alternative.id}}" type="hidden" />
                            <input name="delete" value="true" type="hidden" />
                            <input type="submit" value="Delete">
                    </form>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    </tbody>

</table>

{% if poll.creator == g.user %}
<form action="{{url_for('poll.start_vote', poll_id=poll.id)}}" method="post">
    You can open this poll for voting. This means that no more alternatives may be nominated, and that users can vote. Once voting has started, there's no going back!
    <input type="submit" value="Begin vote"/>
</form>
{% endif %}
{% endblock %}
